body {
    background-color:#F8F8F8;
}

.navbar-collapse {
    padding-left:0;
}

.mainLogo {
    margin-top:20px;
    margin-left:40px;
}

#headerTop {
    height:130px;
}

.container {
    padding:30px;
    background-color:white;
}

#responsive-menu li {
    border-width:1px;
    border-bottom-color:#DDDDDD;
}