@font-face {
    font-family: Roboto;
    src: url('../Content/Fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../Content/Fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../Content/Fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../Content/Fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url('../Content/Fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/*@font-face {
    font-family: Roboto;
    src: url('../fonts/')
}*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../Content/Fonts/glyphicons-halflings-regular.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
  /*src: url('../Test/glyphicons-halflings-regular.eot');*/
  /*src: url('../Fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../Fonts/glyphicons-halflings-regular.woff') format('woff'), url('../Fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../Fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');*/

}