body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#F8F8F8;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-collapse {
    padding-left:0;
}

.mainLogo {
    /*margin-top:20px;*/
    margin-left:20px;
}

#headerTop {
    height:130px;
}

#headerMenu {
    margin-top:20px;
}

.container {
    padding:30px;
    background-color:white;
}

.selected
{
    background-color:#00936E;
    color:white !important;
    font-weight:bold;
    border-right-color:#00936E;
}
